.hero {
  min-height: 982px;
  width: 1512px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000000;
  margin: 0 auto;
  position: relative;
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}

.hero-subtle {
  background: #000000;
} 